.background {
    background-color: rgb(250,250,250);
}
.header {
    padding: 30px;
    color: black;
    font-weight: 500;
    font-size: 38px;
    text-align: center;
}
.block {
    color:black;
    padding:0px;
    width: 500px;
  text-align:justify;
    margin-top: 50px; 
    font-size:20px;
    
}